@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-fg-black: #050505;        /* bg-primary */
  --color-fg-surface: #121212;      /* bg-secondary */
  --color-fg-gold: #C99A4A;         /* gold-primary */
  --color-fg-gold-soft: #D8AE63;    /* gold-secondary */
  --color-fg-gold-light: #FFD37A;   /* gold-light */
  --color-fg-text: #F5F5F5;         /* text-primary */
  --color-fg-gray: #BDBDBD;         /* text-secondary */
  --color-fg-gold-border: #8B6731;  /* border-gold */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
